@model IEnumerable<Vapos2.Models.Registro>

@{
    ViewData["Title"] = "Index";
}

<h2>Registros</h2>  
<form asp-action="index">
    <input type="text" name="vapo" />
    <button type="submit">Filtrar</button>
</form>
<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vaporizator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.responsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prueba_Hidráulica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prueba_Estanqueidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prueba_Funcionamiento)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVapo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreApe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prueba_Hidráulica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prueba_Estanqueidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prueba_Funcionamiento)
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@item.IdRegistro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRegistro">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
